#home-button {
    color: var(--letter-color-bar);
    font-size: 23px;
}

#home-button:hover {
    color: var(--color-hover-buttons);
    cursor: pointer;
}

#bar-menu {
    background-color: var(--first-color-bar);
    width: 100%;
    margin: 0 auto;
    padding: 18px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.bar-menu-container {
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    gap: 20px;
    width: fit-content;
    color: var(--letter-color-bar);
    font-weight: 700;
}

.bar-menu-container a {
    color: var(--letter-color-bar);
    font-size: 20px;
    text-decoration: none;
}

.bar-menu-container a:hover {
    color: var(--color-hover-buttons);
}