#skills {
    width: 100%;
    margin: 0 auto;
    padding: 35px;
    background-color: var(--background-color-secondary);
}

.title-skills {
    border-bottom: 1px solid;
    width: fit-content;
    color: var(--color-hover-buttons);
}

.colored {
    color: var(--colored-span);
}